@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/App.css */
@keyframes typing {
  0% { width: 0; }
  50% { width: 22%; }
  100%{ width: 43%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(214, 202, 202); }
}

.typing-effect {
  overflow: hidden;
  border-right: .15em solid rgb(214, 202, 202);
  white-space: nowrap;
  animation: typing 4.5s steps(40, end) infinite, blink-caret .75s step-end  infinite;
}
.wheel {
  width: 200px;
  height: 200px;
  border: 10px solid #FFD700;
  border-radius: 50%;
  position: relative;
  animation: spin 5s linear infinite;
}

.wheel::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #FFD700;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.segment {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
